{% extends 'Cliente/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
    <div class="container mt-3">
	  <div class="text-center">
	  	<img class="rounded-circle" alt="" src="{% static "10744274696.png" %}">
	  </div>
		  <br>
<h5 align="center">En Sakura Bazar buscamos darle una segunda oportunidad a la ropa, porque todos merecen una segunda oportunidad, menos tu 	   ex.</h5><br>
<h5 align="center">Te ofrecemos ropita en las mejores condiciones y a precios accesibles, además contribuimos al medio ambiente disminuyendo el consumo de fast fashion.
Estamos en Morelia Michoacán pero tenemos envíos a todas las republica, cualquier duda puedes contactarnos, estamos a tu disposición.</h5>
	  </div>
{% endblock %}