{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produc</title>
</head>
<body>
  <style>
    form input, select{
        border: 1px solid #00000020 !important;
        margin: 1vh 0px;
    }
    </style>
    <div class="row m-2">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card">
                <h2 class="m-0 ms-2 text-center mt-3" style="font-weight: bold; font-size: 20px; letter-spacing: 2.5px;">Gestión de Usuarios</h2>
                <div class="card-body">
                    <form id="form" method="POST" onsubmit="">{% csrf_token %}
                        <input type="hidden" id="action" name="action" value="POST">
                        <input type="hidden" id="id" name="id">
                        <div class="form-group">
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"
                                minlength="1"   required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripción"
                                maxlength="255" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-select" aria-label="Default select example" id="tipo" name="tipo" required>
                                    {{ form.tipo|add_class:"form-select fc-alumno" }}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="file" id="imagen" name="imagen"  class="form-control"
                                required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 card">
            <h2 class="m-2 ms-2" style="font-weight: bold; font-size: 20px; letter-spacing: 2.5px;">Listado de Usuarios</h2>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Tipo de producto</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in prod %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.id}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.descripcion}}</td>
                            <td>{{c.imagen}}</td>
                            <td>{{c.tipo}}</td>
                            <td><a id="update" onclick="update_id({{ c.id }})" class="btn btn-info">Editar</a></td>
                            <td><a id="delete" onclick="delete_id({{ c.id }})" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function update_id(id){
            document.getElementById('action').value = 'PUT'
            document.getElementById('id').value = id
            document.getElementById('form').submit()
        }

        function delete_id(id){
            document.getElementById('action').value = 'DELETE'
            document.getElementById('id').value = id
            document.getElementById('form').submit()
        }
    </script>
</body>
</html>