{% extends 'Administracion/base_admin.html' %}
{% load bootstrap5 %}
{% load static %}
{% load widget_tweaks %}
{% load django_tables2 %}
{% block main %}

    <main>
        {% if method %}
            {% if method == 'delete' %}
                <div class="position-fixed top-0 bottom-0 start-0 end-0 d-flex"
                     style="z-index: 1; background-color: rgba(0,0,0,0.8)">
                    <div class="m-auto bg-light card shadow p-2">
                        <h2 class="text-center border-bottom border-primary fw-lighter mxc-3 pb-2">¿Quieres eliminar
                            el {{ title }}?
                        </h2>
                        <div class="d-flex">
                            <form method="post" class="m-auto">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark m-1">Aceptar</button>
                                <a href="{% url 'AdminProducto' %}" class="btn btn-dark text-decoration-none m-1">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="container-xl px-4 pt-4">
            <div class="row">
                <div class="col-md-8 card shadow mb-4 p-0 pt-1">
                    <h2 class="text-center border-bottom border-primary fw-lighter mxc-3 pb-2 position-relative">{{ title }}
                        <div class="btn-group position-absolute end-0 top-0 bottom-0 m-1" role="group"
                             aria-label="Basic example">
                            <button id="del" type="button" class="btn btn-dark" {% if not active %}
                                    disabled {% endif %}>
                                <a class="text-decoration-none text-light" href="#">Eliminar</a>
                            </button>
                        </div>
                    </h2>
                    <div class="p-1">
                        <div class="container-fluid p-0">
                            <div class="row mb-3">
                                {% render_table table 'table.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}